<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeheerServlet</servlet-name>
        <servlet-class>Controller.BeheerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BurgerServlet</servlet-name>
        <servlet-class>Controller.BurgerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScanServlet</servlet-name>
        <servlet-class>Controller.ScanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeheerServlet</servlet-name>
        <url-pattern>/BeheerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BurgerServlet</servlet-name>
        <url-pattern>/BurgerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScanServlet</servlet-name>
        <url-pattern>/ScanServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>ConstraintBeheer</display-name>
        <web-resource-collection>
            <web-resource-name>beheer</web-resource-name>
            <description/>
            <url-pattern>/Beheer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>beheer</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint1Burger</display-name>
        <web-resource-collection>
            <web-resource-name>burger</web-resource-name>
            <description/>
            <url-pattern>/Burger/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>burger</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>DBRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>beheer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>burger</role-name>
    </security-role>
</web-app>
